/* Font  */

@font-face {
    font-family: "OrganicformVF";
    src: url("fonts/OrganicformVF.ttf") format("truetype-variations");
    font-variation-settings:
        "axe1" 100,
        "axe2" 100,
        "axe3" 100,
        "axe4" 100,
        "axe5" 100,
        "axe6" 100,
        "axe7" 100,
        "axe8" 100;
}

@font-face {
    font-family: "Augure-LightSlanted";
    font-feature-settings: "ss03";
    src: url("fonts/Augure-LightSlanted.otf") format("opentype"),
        url("fonts/Augure-LightSlanted.woff") format("woff"),
        url("fonts/Augure-LightSlanted.woff2") format("woff2");
}

@font-face {
    font-family: "Augure-Light";
    font-feature-settings: "ss03";
    src: url("fonts/Augure-Light.otf") format("opentype"),
        url("fonts/Augure-Light.woff") format("woff"),
        url("fonts/Augure-Light.woff2") format("woff2");
}

@font-face {
    font-family: "pictosicons-Regular";
    src: url("fonts/pictosicons-Regular.otf") format("opentype"),
        url("fonts/pictosicons-Regular.woff") format("woff"),
        url("fonts/pictosicons-Regular.woff2") format("woff2");
}

/* Contenu principal  */

html {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Augure-Light";
    font-feature-settings: "ss03";
    color: #000;
    background-color: #FFF;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

p {
    margin: 0.5em 0;
}

hr {
    margin: 1em 0;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main article {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main article section {
    margin-left: 1%;
    margin-right: 1%;
}

dd {
    margin: 0.5em 2em;
}

ol {
    padding: 5px 20px;
    margin: 0;
}

li {
    padding: 5px 20px;
}

a {
    position: fixed;
    font-size: 30pt;
    text-decoration: none;
    color: #000;
}

p>a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 11pt;
}

/* Linked to font moving with captations */

.font-display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.font {
    margin: 0;
    font-family: "OrganicformVF";
    font-variation-settings:
        "axe1" 100,
        "axe2" 100,
        "axe3" 100,
        "axe4" 100,
        "axe5" 100,
        "axe6" 100,
        "axe7" 100,
        "axe8" 100;
    text-align: center;
    line-height: 1em;
}

#other_font {
    font-size: 60vh;
}

#my_font {
    font-size: 10vh;
}

/* Pseudo */

.pseudo {
    margin: 0;
    font-family: "Augure-Light";
    font-feature-settings: "ss03";
    text-align: center;
    line-height: -1em;
}

#other_pseudo_space {
    font-size: 2vh;
}

#my_pseudo_space {
    font-size: 1.8vh;
}

/* Linked to icon in corners */

.font-picto {
    z-index: 1;
    font-family: "pictosicons-Regular";
    font-size: 25pt;
}

.show {
    color: #000;
}

.hide {
    color: #FFF;
}

#font_icon {
    font-family: "OrganicformVF";
    font-size: 25pt;
    position: relative;
    font-variation-settings:
        "axe1" 1000,
        "axe2" 100,
        "axe3" 100,
        "axe4" 100,
        "axe5" 100,
        "axe6" 100,
        "axe7" 100,
        "axe8" 100;
}

#config_icon {
    top: 15pt;
    left: 15pt;
}

#fullscreen_icon {
    top: 15pt;
    right: 15pt;
}

#info_icon {
    bottom: 15pt;
    right: 15pt;
}

#profile_icon {
    bottom: 15pt;
    left: 15pt;
}

/* Linked to icon popup menus */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 0px 20px 10px 20px;
    background: #fff;
    border-radius: 20px;
    border-color: #000;
    border-width: 1px;
    position: relative;
    transition: all .5s ease-in-out;
    width: 400px;
    max-height: 80%;
    overflow-y: scroll;
    font-size: 11pt;
    scrollbar-color: #000;
}

.popup h1 {
    font-size: 16pt;
    text-align: center;
    font-weight: normal;
}

.popup .close {
    position: absolute;
    top: 15px;
    right: 20px;
    transition: all 200ms;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup select {
    width: 160px;
}

.popup input {
    width: 160px;
}

.sticky-content {
    padding: 5px 0 0 0;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #FFF;
}

#hr-long {
    margin-left: -20px;
    margin-right: -20px;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

/* Grid */

.grid-wrapper {
    display: grid;
    grid-template-columns: 6fr 3fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 7;
}

.box2 {
    grid-column-start: 7;
    grid-column-end: 11;
}

/* Select */

select {
    color: #000;
    background-color: #FFF;
    font-family: "Augure-Light";
    font-feature-settings: "ss03";
    font-size: 11pt;
    height: 30px;
    width: 115px;
    border: 1px solid #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-wrapper {
    overflow: hidden;
    position: relative;
    width: 10rem;
    /* real length of dropdown */
}

.select-wrapper:after {
    content: "▼";
    font-family: "pictosicons-Regular";
    color: #000;
    font-size: 16pt;
    pointer-events: none;
    /* ▼ click triggers dropdown */
    position: absolute;
    right: 0.2rem;
    top: 0.3rem;
    z-index: 1;
}

select::-ms-expand {
    display: none;
    /* remove default caret for ie */
}

/* Input */

input {
    color: #000;
    background-color: #FFF;
    font-family: "Augure-Light";
    font-feature-settings: "ss03";
    font-size: 11pt;
    height: 30px;
    width: 115px;
    border: 1px solid #000;
}

input[type=file] {
    display: none;
}

.file-style {
    color: #0A0A0A;
    background-color: #FAFAFA;
    padding: 4px;
    font-size: 11pt;
    font-family: "Augure-Light";
    font-feature-settings: "ss03";
    height: 30px;
    width: 80px;
    border: 1px solid #0A0A0A;
    cursor: pointer;
}

.file-style.disabled {
    color: darkgray;
    border: 1px solid darkgray;
    cursor: default;
}

input[value=reset] {
    color: #FAFAFA;
    background-color: #0A0A0A;
    font-size: 9pt;
    font-family: "Augure-Light";
    font-feature-settings: "ss03";
    height: 30px;
    width: 80px;
    border: 1px solid #0A0A0A;
    cursor: pointer;
}

input[value=validate] {
    color: #FAFAFA;
    background-color: #0A0A0A;
    font-size: 11pt;
    font-family: "Augure-Light";
    font-feature-settings: "ss03";
    height: 30px;
    width: 115px;
    border: 1px solid #0A0A0A;
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

input[type="text"]::placeholder {
    font-family: "Augure-LightSlanted";
    font-feature-settings: "ss03";
}

/* Button */

button {
    color: #FAFAFA;
    background-color: #0A0A0A;
    font-size: 9pt;
    font-family: "Augure-Light";
    font-feature-settings: "ss03";
    height: 30px;
    width: 80px;
    border: 1px solid #0A0A0A;
    cursor: pointer;
}

.button-title {
    margin: 0.5em;
}

button:disabled,
input:disabled,
select:disabled {
    background-color: darkgray;
    border: 1px solid darkgray;
    cursor: default;
}

/* Changes linked to click */

.hidden {
    display: none;
}

.always-hidden {
    display: none;
}

.btn-activated {
    color: #0F0;
}

.btn-deactivated {
    color: #F00;
}

/* Video and image */

#video {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
}

.video {
    transform: rotateY(180deg);
    /* Safari and Chrome */
    -webkit-transform: rotateY(180deg);
    /* Firefox */
    -moz-transform: rotateY(180deg);
}

#video_container {
    position: relative;
    z-index: 0;
}

.wrapper {
    position: relative;
}

img {
    border-radius: 50%;
    object-fit: cover;
}

#my_photo {
    height: 10vh;
    width: 10vh;
}

#other_photo {
    height: 60vh;
    width: 60vh;
}

/* When no cam */
.circle {
    margin: 15px;
    border-radius: 50%;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

#my_no_cam {
    height: 10vh;
    width: 10vh;
}

#other_no_cam {
    height: 60vh;
    width: 60vh;
}

.no-cam_icon {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#other_no_cam .no-cam_icon {
    font-size: 60vh;
}

#my_no_cam .no-cam_icon {
    font-size: 10vh;
}

/* Switch button */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    border: 1px solid #000;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.disabled {
    position: absolute;
    cursor: default;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    border: 1px solid darkgray;
}

.slider.disabled:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: darkgray;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider:before {
    -webkit-transform: translateX(44px);
    -ms-transform: translateX(44px);
    transform: translateX(44px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* 
    Config pour avoir une scrollbar arrondie 
    Ne marche que pour Chrome, Egde, Opera, etc. mais pas Firefox
*/

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px F2F2F2;
    border-radius: 0px;
    margin-block: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: black;
}

/* Dropdown menu */

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 0;
}

aside header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 0;
}

aside header span:hover {
    cursor: pointer;
}