@font-face {
    font-family: "OrganicformVF";
    src: url("fonts/OrganicformVF.ttf") format("truetype-variations");
    font-variation-settings:
        "axe1" 100,
        "axe2" 100,
        "axe3" 100,
        "axe4" 100,
        "axe5" 100,
        "axe6" 100,
        "axe7" 100,
        "axe8" 100;
}

@font-face {
    font-family: "Augure-Light";
    font-feature-settings: "ss03";
    src: url("fonts/Augure-Light.woff2") format("woff2");
}

@font-face {
    font-family: "pictosicons-Regular";
    src: url("fonts/pictosicons-Regular.otf") format("opentype"),
        url("fonts/pictosicons-Regular.woff") format("woff"),
        url("fonts/pictosicons-Regular.woff2") format("woff2");
}

body {
    margin: 0;
    font-family: "Augure-Light";
    font-feature-settings: "ss03";
    color: #000;
    background-color: #FFF;
    overflow-x: hidden;
    font-size: 80pt;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.font {
    margin: 0;
    font-family: "OrganicformVF";
    font-variation-settings:
        "axe1" 100,
        "axe2" 100,
        "axe3" 100,
        "axe4" 100,
        "axe5" 100,
        "axe6" 100,
        "axe7" 100,
        "axe8" 100;
    text-align: center;
    font-size: 60vh;
    line-height: 1em;
}

.font-container {
    padding: 0.5em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#usr1_video_container {
    padding: 0;
    margin: 0;
}

#usr2_video_container {
    padding: 0;
    margin: 0;
}

.pseudo {
    margin: 0;
    font-size: 2vh;
}

.font-picto {
    z-index: 1;
    font-family: "pictosicons-Regular";
    font-size: 25pt;
}

#fullscreen_icon {
    top: 15pt;
    right: 15pt;
}

.show {
    color: #000;
}

.hide {
    color: #FFF;
}

/* Menu information */

.popup>p {
    margin: 0.5em 0;
}

hr {
    margin: 1em 0;
}

a {
    position: fixed;
    font-size: 30pt;
    text-decoration: none;
    color: #000;
}

ol {
    padding: 5px 20px;
    margin: 0;
}

li {
    padding: 5px 20px;
}

p>a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 11pt;
}

dd {
    margin: 0.5em 2em;
}

img {
    border-radius: 50%;
    height: 500pt;
    width: 500pt;
    object-fit: cover;
}

#info_icon {
    bottom: 15pt;
    right: 15pt;
}

.hidden {
    display: none;
}

.video {
    transform: rotateY(180deg);
    /* Safari and Chrome */
    -webkit-transform: rotateY(180deg);
    /* Firefox */
    -moz-transform: rotateY(180deg);
}

.circle {
    margin: 15px;
    height: 500pt;
    width: 500pt;
    border-radius: 50%;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

/* Linked to icon popup menus */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 0px 20px 10px 20px;
    background: #fff;
    border-radius: 20px;
    border-color: #000;
    border-width: 1px;
    position: relative;
    transition: all 5s ease-in-out;
    width: 400px;
    max-height: 80%;
    overflow-y: scroll;
    font-size: 11pt;
    scrollbar-color: #000;
}

.popup h1 {
    font-size: 16pt;
    text-align: center;
    font-weight: normal;
}

.popup .close {
    position: absolute;
    top: 15px;
    right: 20px;
    transition: all 200ms;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.sticky-content {
    padding: 5px 0 0 0;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #FFF;
}

#hr-long {
    margin-left: -20px;
    margin-right: -20px;
}

/* 
    Config pour avoir une scrollbar arrondie 
    Ne marche que pour Chrome, Egde, Opera, etc. mais pas Firefox
*/

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px F2F2F2;
    border-radius: 0px;
    margin-block: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: black;
}

/* Menu config */

#config_icon {
    top: 15pt;
    left: 15pt;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 6fr 3fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
}

button {
    color: #FAFAFA;
    background-color: #0a0a0a;
    font-size: 9pt;
    font-family: "Augure-Light";
    font-feature-settings: "ss03";
    height: 30px;
    width: 80px;
    border: 1px solid #0a0a0a;
    cursor: pointer;
}

.button-title {
    margin: 0.5em;
}

input {
    color: #000;
    background-color: #FFF;
    font-family: "Augure-Light";
    font-feature-settings: "ss03";
    font-size: 11pt;
    height: 30px;
    width: 80px;
    border: 1px solid #000;
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}