<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8" />
    <title>First Contact</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body>
    <a href="#configuration" class="font-picto show" id="config_icon" style="font-size: 2.2vh;">l</a>
    <div id="configuration" class="overlay">
        <div class="popup">
            <div class="sticky-content">
                <a class="close" href="#">&times;</a>
                <h1>CONFIGURATION</h1>
                <hr id="hr-long" />
            </div>
            <p>
                GENERAL
            </p>
            <br>
            <div class="grid-wrapper">
                <div class="button-title">
                    form <> camera
                </div>
                <div></div>
                <div>
                    <label class="switch">
                        <input type="checkbox" id="form_cam" value="form" />
                        <span class="slider round" id="form_slider"></span>
                    </label>
                </div>
                <div></div>

                <div class="share-global button-title hidden">
                    share config <br /> no <> yes
                </div>
                <div class="share-global hidden"></div>
                <div class="share-global hidden">
                    <label class="switch">
                        <input type="checkbox" id="config_sharing" />
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="share-global hidden"></div>

                <div class="button-title">
                    buttons
                </div>
                <div></div>
                <div>
                    <button id="hide">hide</button>
                </div>
                <div></div>
                <div class="button-title">
                    settings
                </div>
                <div></div>
                <div>
                    <button id="reset_setting_btn">reset</button>
                </div>
                <div></div>
                <div class="button-title">
                    font axes
                </div>
                <div></div>
                <div>
                    <button id="reset_axes_btn">reset</button>
                </div>
                <div></div>
            </div>
            <hr />
            <p>
                TYPEFACE
            </p>
            <br>
            <div class="grid-wrapper">
                <div>
                    <label class="file-style">
                        <input type="file" id="typefaceFile" accept=".ttf, .woff, .woff2, .otf" />
                        <span id="file_text">font file</span>
                    </label>
                </div>
                <div></div>
                <div>
                    <button id="typefaceBtn">load</button>
                </div>
                <div></div>
            </div>
            <hr />
            <p>
                DETECTOR
            </p>
            <aside id="cmd"></aside>
            <hr />
            <p>
                SETTINGS
            </p>
            <aside>
                <header>
                    GENERAL
                    <span class="unfold">▼</span>
                </header>
                <article id="generalMenu" class="hidden">
                    <div class="grid-wrapper">
                        <div>big form</div>
                        <div>
                            <input type="number" value="500" id="big_form" min="100" max="900">
                        </div>
                        <div></div>
                        <div></div>
                        <div>small form</div>
                        <div>
                            <input type="number" value="80" id="small_form" min="0" max="100">
                        </div>
                        <div></div>
                        <div></div>
                    </div>
                </article>
            </aside>
            <div id="conf_algo"></div>
        </div>
    </div>
    <a href="#fullscreen" class="font-picto show" id="fullscreen_icon" style="font-size: 2.2vh;">$</a>
    <a href="#profile" class="font-picto" id="profile_icon" style="font-size: 2.2vh;">r</a>
    <div id="profile" class="overlay">
        <div class="popup">
            <div class="sticky-content">
                <a class="close" href="#">&times;</a>
                <h1>PROFILE</h1>
                <hr id="hr-long" />
            </div>
            <br>
            <div class="grid-wrapper">
                <div>
                    PROFILE #1
                </div>
                <div></div>
                <div></div>
                <div></div>
                <div class="select-wrapper">
                    <select id="cams"></select>
                </div>
                <div>
                    <button id="cam">activate</button>
                </div>
                <div>
                    <span id="cam_status" class="font-picto btn-deactivated">3</span>
                </div>
                <div>
                    <span class="font-picto">!</span>
                </div>
                <div>
                    <input type="text" name="pseudo" placeholder="pseudo">
                </div>
                <div>
                    <button id="pseudo">share</button>
                </div>
                <div>
                    <span id="pseudo_status" class="font-picto btn-deactivated">3</span>
                </div>
                <div>
                    <span class="font-picto">C</span>
                </div>
                <div class="button-title">
                    avatar feedback
                </div>
                <div>
                    <button id="avatar">activate</button>
                </div>
                <div>
                    <span id="avatar_status" class="font-picto btn-deactivated">3</span>
                </div>
                <div>
                    <span id="font_icon" style="margin-left: -10pt;">B</span>
                </div>
            </div>
            <br>
            <hr />
            <br>
            <div class="grid-wrapper">
                <div>
                    PROFILE #2
                </div>
                <div></div>
                <div>
                    <span id="profile2_status" class="font-picto btn-deactivated">3</span>
                </div>
                <div>
                    <span class="font-picto">D</span>
                </div>
            </div>
            <br>
        </div>
    </div>
    <a href="#informations" class="font-picto" id="info_icon" style="font-size: 2.2vh;">j</a>
    <div id="informations" class="overlay">
        <div class="popup">
            <div class="sticky-content">
                <a class="close" href="#">&times;</a>
                <h1>INFORMATION</h1>
                <hr id="hr-long" />
            </div>
            <p>
                FIRST CONTACT
            </p>
            <p>
                Experimental project to graphically manifest our presence from a distance.
            </p>
            <br>
            <p>
                TUTORIAL
            <ol>
                <li>open the profile menu (<span class="font-picto" style="font-size: 11pt">r</span>)</li>
                <li>activate the camera</li>
                <li>write your nickname (pseudo)</li>
                <li>wait for a second person to connect</li>
                <li>display or not your avatar</li>
                <li>start interacting</li>
            </ol>
            </p>
            <hr />
            <p>
                CONTACT
            </p>
            <p>
                Simon Renaud
            </p>
            <p>
                <a href="http://www.simonrenaud.fr" id="contact">www.simonrenaud.fr</a>
            </p>
            <p>
                info@simonrenaud.fr
            </p>
            <hr />
            <p>
                CREDITS
            <dl>
                <dt>Project</dt>
                <dd>Simon Renaud</dd>
                <dt>Coding</dt>
                <dd>Laura Miguel</dd>
                <dd>Nathan Menny</dd>
                <dt>Graphic design</dt>
                <dd>Simon Renaud</dd>
                <dt>Typeface</dt>
                <dd>Augure (205 TF)</dd>
                <dt>Acknowledgements</dt>
                <dd>Serge Bouchardon</dd>
                <dd>Bruno Bachimont</dd>
                <dd>Alexandra Saemmer</dd>
                <dd>Université de technologie de Compiègne</dd>
            </dl>
            </p>
        </div>
    </div>
    <main>
        <article class="hidden">
            <section class="always-hidden">
                <video autoplay playsinline id="videoElement"></video>
                <canvas id="canvas" width="400" height="300"></canvas>
            </section>
        </article>
        <article class="font-display">

            <div class="wrapper">
                <span class="font-picto hidden" id="other_no_cam">
                    <span class="no-cam_icon">!</span>
                </span>
                <section class="hidden" id="other_video_container">
                    <img class="video" id="other_photo">
                </section>
                <p class="font" id="other_font">B</p>
                <p class="pseudo" id="other_pseudo_space"> </p>
            </div>

            <div class="wrapper">
                <span class="font-picto hidden" id="my_no_cam">
                    <span class="no-cam_icon">!</span>
                </span>
                <section class="hidden" id="my_video_container">
                    <img class="video" id="my_photo">
                </section>
                <p class="font hidden" id="my_font">B</p>
                <p class="pseudo hidden" id="my_pseudo_space"> </p>
            </div>
        </article>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/elements.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/menus.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/camera.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/otherHandler.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/messageHandler.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cameraHandler.js')}}"></script>
</body>

</html>