<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/observer.css') }}" />
    <title>First Contact - Observer</title>
</head>

<body>
    <a href="#configuration" class="font-picto show" id="config_icon" style="font-size: 2.2vh;">l</a>
    <div id="configuration" class="overlay">
        <div class="popup">
            <div class="sticky-content">
                <a class="close" href="#">&times;</a>
                <h1>CONFIGURATION</h1>
                <hr id="hr-long" />
            </div>
            <div class="grid-wrapper">
                <div class="button-title">
                    buttons
                </div>
                <div></div>
                <div>
                    <button id="hide">hide</button>
                </div>
                <div></div>
                <div>form size</div>
                <div></div>
                <div>
                    <input type="number" value="500" id="form_size" min="100" max="900">
                </div>
                <div></div>
            </div>
        </div>
    </div>
    <a href="#fullscreen" class="font-picto show" id="fullscreen_icon" style="font-size: 2.2vh;">$</a>
    <a href="#informations" class="font-picto" id="info_icon" style="font-size: 2.2vh;">j</a>
    <div id="informations" class="overlay">
        <div class="popup">
            <div class="sticky-content">
                <a class="close" href="#">&times;</a>
                <h1>INFORMATION</h1>
                <hr id="hr-long" />
            </div>
            <p>
                FIRST CONTACT
            </p>
            <p>
                Experimental project to graphically manifest our presence from a distance.
            </p>
            <br>
            <p>
                TUTORIAL
            <ol>
                <li>open the profile menu (<span class="font-picto" style="font-size: 11pt">r</span>)</li>
                <li>activate the camera</li>
                <li>write your nickname (pseudo)</li>
                <li>wait for a second person to connect</li>
                <li>display or not your avatar</li>
                <li>start interacting</li>
            </ol>
            </p>
            <hr />
            <p>
                CONTACT
            </p>
            <p>
                Simon Renaud
            </p>
            <p>
                <a href="http://www.simonrenaud.fr" id="contact">www.simonrenaud.fr</a>
            </p>
            <p>
                info@simonrenaud.fr
            </p>
            <hr />
            <p>
                CREDITS
            <dl>
                <dt>Project</dt>
                <dd>Simon Renaud</dd>
                <dt>Coding</dt>
                <dd>Laura Miguel</dd>
                <dd>Nathan Menny</dd>
                <dt>Graphic design</dt>
                <dd>Simon Renaud</dd>
                <dt>Typeface</dt>
                <dd>Augure (205 TF)</dd>
                <dt>Acknowledgements</dt>
                <dd>Serge Bouchardon</dd>
                <dd>Bruno Bachimont</dd>
                <dd>Alexandra Saemmer</dd>
                <dd>Université de technologie de Compiègne</dd>
            </dl>
            </p>
        </div>
    </div>
    <main>
        <article class="font-container">
            <p class="font-picto hidden" id="usr1_no_cam" style="font-size:250pt;">!</p>
            <p class="hidden" id="usr1_video_container">
                <img class="video" id="usr1_photo">
            </p>
            <p class="font" id="usr1">B</p>
            <p class="pseudo" id="usr1_pseudo"></p>
        </article>
        <article class="font-container">
            <p class="font-picto hidden" id="usr2_no_cam" style="font-size:250pt;">!</p>
            <p class="hidden" id="usr2_video_container">
                <img class="video" id="usr2_photo">
            </p>
            <p class="font" id="usr2">B</p>
            <p class="pseudo" id="usr2_pseudo"></p>
        </article>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/observer.js')}}"></script>
</body>

</html>